// <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
// CSS rules to specify families

// font-family: 'Fredoka One', cursive;
*{
  list-style: none;
  text-decoration: none;
}
@mixin button {
    width: 350px;
    height: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 15px #ccc;
    color: #fff;
    background-color: rgb(97, 184, 255);
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.container {
    min-width: 1175px;
    margin: 0 auto;
}


// === navigation ===

body {
  display: grid;
  grid-template-areas: 
    "header header header"
    "article article article"
    "footer footer footer";
  grid-template-rows: 365px 1fr 60px;
  grid-template-columns: 20% 1fr 20%;
  // grid-gap: 40px;
  height: 100vh;
  margin: 0;
}
// header
footer, article, nav, div {
  // padding: 20px;
  // background: green;
}





.header {
  grid-area: header;
  background: url(..//img/findDog2.png) no-repeat center / cover;
}
.logo {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
.header__top {
// background-color: transparent;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: transparent;

  .header__menu {
    border: 1px solid black;
    color: black;
    background-color: transparent;
    display: flex;
  
  
    .menu__list {
      display: flex;
    }
    
    a {
      padding: 0 40px 0 40px;
    }
  }
}
// box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
// border-color: rgba(223,225,229,0);

// === navigation ===/

// === main ===

.section__main { 
  grid-area: article;  
  background-color: #75d1ed;
    
    .search__form {
      display: flex;
      justify-content: center;
    
    .form__item {
      width: 600px;
    }
  }

  .main__form {
    display: flex;
    justify-content: center;

    .main__find {
      width: 400px;
      height: 100px;
      background-color: #8c8cd8;
      margin: 20px;
    }
    .main__found {
      width: 400px;
      height: 100px;
      background-color: #8c8cd8;
      margin: 20px;
    }
  }
}

.main__content {
  display: flex;
  justify-content: center;
    
  .content__title {
    border: 1px solid black;
    margin-bottom: 50px;
  }
}

.content__blocks {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .content__blocks-item {
    border: 1px solid black;
    width: 200px;
    height: 150px;
    padding: 20px;
  }
}

// === main ===/

// === footer ===

.footer {
  grid-area: footer;
}

// === footer ===/


// #mainNav { 
//   grid-area: nav; 
//   }

// .siteAds { 
//   grid-area: ads; 
// }








