<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find my pet</title>

    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__inner">
        <div class="header__wrapper">
          <div class="logo">logotype</div>
          <nav class="header__menu">
            <ul class="menu__list">
              <li>
                <a href="">главная</a>
              </li>
              <li><a href="">наша цель</a></li>
              <li><a href="">отзывы</a></li>
              <li><a href="">lorem ipsum</a></li>
              <li><a href="">контакты</a></li>
            </ul>
          </nav>
        </div>
        <div class="header__top">
          <div class="header__top_inner">
            <a class="login" href="">Log in</a>
            <a class="form" href="registrationForm.html">Sign Up</a>
          </div>
        </div>
      </div>
    </header>

    <section class="section__main">
      <div class="main__wrapper">
        <!-- <div class="main__search">
          <div class="search__form">
            <input
              class="form__item"
              type="text"
              autocapitalize="off"
              autocomplete="off"
              autocorrect="off"
              placeholder=" Введите данные для поиска вашего питомца"
            />
          </div>
          <div class="pet__slider">
            <div class="pet__slider-active">slider gonna be here</div>
          </div>
        </div> -->
        <div class="main__form ">
          <div class="main__find">
            каталог пропавших животных 
            <!-- <button>Поиск животного</button> -->
          </div>
          <div class="main__found">
            каталог найденных животных 
            <!-- <button>Найденные животные</button> -->
          </div>
        </div>
      </div>
      <div class="main__content">
        <div class="main__content-wrapper container">
          <h1 class="text_heading">our Process</h1>
        </div>
      </div>

      <!-- <div class="section__care container">
        <div class="section__care_wrapper ">
          <div class="care__img"></div>
          <div class="care__text">
            <p class="care__text_size">Для тех кому не безразлично</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti consectetur, tenetur reprehenderit delectus consequatur necessitatibus eaque, velit praesentium atque culpa error sapiente sequi voluptas iure ut doloremque libero facere enim! Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus aperiam amet at nihil, saepe error perspiciatis reiciendis ex iusto architecto omnis doloremque fuga! Adipisci exercitationem nemo fugiat aliquam porro veritatis?</div>
        </div>
      </div> -->
    </section>

    <!-- <nav id="mainNav">Nav</nav> -->

    <footer class="footer">
      <h1 class="text_headig_footer">Footer</h1>
    </footer>

    <!-- <header class="header container">
    <nav class="header__nav">
        <div class="nav__left"></div>
        <div class="nav__right"></div>
    </nav> -->
  </body>
</html>
