@mixin button {
    width: 350px;
    height: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 15px #ccc;
    color: #fff;
    background-color: rgb(97, 184, 255);
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

//  === registrationForm ===

.form {
    width: 500px;
    // height: 500px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    letter-spacing: 1px;
    font-family: sans-serif;
    margin: 0 auto;
}

    .form__title {
        text-align: center;
        margin-bottom: 30px;
        font-weight: normal;
    }

    .form__group {
        position: relative;
        margin-bottom: 30px;
    }

    .form__label {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        color: #8c8a90;
        transition: 0.3s;
    }

    .form__input {
        width: 100%;
        padding-bottom: 10px;
        border: none;
        border-bottom: 1px solid #e0e0e0;
        background-color: transparent;
        outline: none;
        transition: 0.3s;
    }

    .form__input:focus {
        border-bottom: 1px solid #1a73a8;
    }

// .form__button:focus {
//     background-color: rgb(251, 0, 0);
//     
// }
// .form__input:not(:placeholder-shown) ~ .form__label {
// }

.form__input::placeholder {  
    // visibility: hidden;      ----///
    opacity: 0;
} 
.form__input:focus ~ .form__label, 
.form__input:not(:placeholder-shown) ~ .form__label {
  top: -18px;
  left: 0;
  font-size: 12px;
  color: #e0e0e0;
}

.form__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form__button {
    @include button();
    margin-top: 20px;
}
.form__button:hover {
    background-color: rgb(64, 119, 165);
    transition: 0.5s;
}

.form__button_facebook {
    @include button();
    // background-color: #425a94;
    background: url(..//img/facebook.svg) no-repeat;
    color: #425a94;
    margin-top: 20px;
}
.form__button_facebook:hover{
    background-color: #2b4677;
    transition: 0.5s;
    color: #fff;
}

.form__button_gmail {
    @include button();
    background: url(..//img/google-hangouts.svg) no-repeat;
    color: rgb(104, 153, 218);
    margin-top: 20px;
    // background-color: linear-gradient(to right, #e3e9e3 0%, #47db5f 100%);
}
.form__button_gmail:hover {
    background-color: #8cec8cbd;
    transition: 0.5s;
}

//  === registrationForm ===/
